body{
    background-color: rgb(174, 192, 209);
}
nav ul{
   display: flex;
   justify-content: flex-end; 
   list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    color: black;
}

nav ul li{
    padding: 2%;
}
.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form-section label{
    font-size: 24px;
    margin-bottom: 5px;
}

.form-section input{
    height: 30px;
    width: 400px;
    border: none;
}

p{
    font-size: 24px;
    color: black;
}

.form-section button{
    padding: 1%;
    background-color: rgb(72, 56, 216);
    border: none;
    margin-left: 30%;
    font-size: 24px;
    padding: 2%;
    border-radius: 10px;
}

p a{
    color: black;
}